
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.close, .nav {
    position: absolute;
}

.close {
    z-index: 10;
    cursor: pointer;
}

.nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    transform: scale(0);
    transition: transform 0.3s ease;
    width: calc(170px * 3);
    height: calc(170px * 3);
}

.nav span:nth-child(5) {
    visibility: hidden;
}

.nav span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
}

img {
    max-width: 170px;
    height: auto;
    display: block;
}
